.flashcards-page {
  padding: 2rem;
  background-color: #fefefe;
  min-height: 100vh;
  text-align: center;
}

.flashcards-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
  font-weight: bold;
}

.back-home-button {
  margin-bottom: 1.5rem;
  padding: 10px 20px;
  background-color: #ca67e8;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-home-button:hover {
  background-color: #961a9c;
}

.flashcard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1.5rem;
  justify-items: center;
}

.flashcard {
  width: 160px;
  height: 120px;
  perspective: 1000px;
}

.flashcard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(190, 177, 177, 0.1);
}

.flashcard.flipped .flashcard-inner {
  transform: rotateY(180deg);
}

.flashcard-front, .flashcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 12px;
  padding: 10px;
  box-sizing: border-box;
}

.flashcard-front {
  background-color: #f0f0f0;
  color: #000;
}

.flashcard-back {
  background-color: #d865e4;
  color: white;
  transform: rotateY(180deg);
}
